<ion-header>
  <ion-toolbar>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="login">
  <form [formGroup]="loginform">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-avatar text-center>
            <img src="assets/logo.jpg" id="logo" alt="">
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input padding-left formControlName="email" type="email" placeholder="أدخل البريد الالكتروني"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input padding-left formControlName="password" type="password" placeholder="أدخل كلمة المرور"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button margin-top full [disabled]="!loginform.valid" (click)="login()" ion-button> دخول </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button (click)="facebook_login()" full ion-button color="facebook" icon-left><ion-icon name="logo-facebook"></ion-icon>تسجيل الدخول بالفيسبوك</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button full ion-button (click)="google_login()" color="google" icon-left><ion-icon name="logo-googleplus"></ion-icon>تسجيل الدخول بجوجل</button>
        </ion-col>
      </ion-row>


      <ion-row padding>
        <ion-col text-right>
          <a href="#" (click)="forget_password()">نسيت كلمة المرور ؟</a>
        </ion-col>
        <ion-col text-right>
          <a href="#" (click)="signup()">حساب جديد</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
