<!--
  Generated template for the ItemDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="new">
        الاحدث
      </ion-segment-button>
      <ion-segment-button value="hot">
        الاقرب
      </ion-segment-button>
      <ion-segment-button value="high">
        الاعلي تقييم
      </ion-segment-button>
    </ion-segment>
    <ion-buttons right>
      <button ion-button icon-only margin-right (click)="goBack()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content padding id="item-details">
  <ion-fab right bottom>
    <button ion-fab (click)="add_price()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col ion-item text-center>
          <ion-avatar>
            <img [src]="domSanitizer.bypassSecurityTrustUrl(item.image)" alt="">
          </ion-avatar>
        {{item.name}}
      </ion-col>

    </ion-row>

    <ion-row class="spinner-row" *ngIf="spinner_show">
      <ion-col no-padding no-margin>
        <ion-spinner name="ios"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-list margin-top>
      <ion-card *ngFor="let price of prices">
        <ion-card-content>
          <p text-center>
            {{price.location.name}}
          </p>
          <ion-row>
            <ion-col text-center>
              {{price.value}} LE
            </ion-col>
            <ion-col text-center>
              {{price.date}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button full icon-only>
                <ion-icon name="md-checkmark"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button full icon-only color="google">
                <ion-icon name="md-close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button full>
    فلتر
  </button>
</ion-footer>
