page-item-details {

}
#item-details .item-inner{
  border: none !important;
}
ion-avatar img{
  width: 90px !important;
  height: 90px !important;
  margin: auto !important;
}

ion-footer button{
  margin: 0 !important;
}

#item-details ion-card,#item-details ion-card-content{
  //padding: 0 !important;
  margin: 10px !important;
}
