<ion-header [hidden]="update">
  <ion-navbar>
    <ion-title>تسجيل</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="signup">
  <form [formGroup]="signupform">
    <ion-grid>
      <ion-row padding-top>
        <ion-col text-center>
          <ion-item>
            <ion-avatar>
              <img [src]="domSanitizer.bypassSecurityTrustUrl(avatar)" (click)="get_avatar()">
            </ion-avatar>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row padding-top>
        <ion-col>
          <ion-item>
            <ion-input padding-left formControlName="name" [(ngModel)]="user.name"  type="text" placeholder="أدخل اسم المستخدم"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input padding-left formControlName="password" type="password" placeholder="أدخل كلمة المرور"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input padding-left [(ngModel)]="user.email" formControlName="email" type="email" placeholder="أدخل البريد الالكتروني"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row padding-top>
        <ion-col>
          <button margin-top full [disabled]="!signupform.valid" (click)="signup()" ion-button> تسجيل </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
