// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$toolbar-background:#29AF63;
$toolbar-ios-height:70px;
$toolbar-md-height:70px;
$toolbar-ios-title-text-color	:#FFF;
$toolbar-ios-title-text-align	:center;
$toolbar-md-title-text-align	:center;
$searchbar-ios-input-search-icon-color:#29AF63;
$searchbar-ios-background-color:#29AF63;
$searchbar-md-input-search-icon-color:#29AF63;
$searchbar-md-background-color:#29AF63;
$spinner-md-ios-color:#29AF63;
$refresher-border-color:#FFF;
$refresher-icon-color	:#29AF63;
$refresher-icon-font-size:40px;
$refresher-text-color	:#29AF63;
$colors: (
  primary:    #29AF63,
  secondary:  #32db64,
  danger:     #373735,
  light:      #f4f4f4,
  dark:       #222,
  facebook:#3b5998,
  google:#d62d20
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
