// http://ionicframework.com/docs/v2/theming/
@import url('https://fonts.googleapis.com/css?family=Cairo');

*{
  font-family: 'Cairo', sans-serif;
}

#pac-input{
  font-family: 'Cairo', sans-serif;
}

*::-webkit-input-placeholder {
  text-align: right !important;
  padding-right: 15px;
}

.barcode-search-btn{
  display: block !important;
  text-align: center;

  font-size: 20px;
  height: 100% !important;
  margin-top: 0;
}
.item-inner{
  border-bottom:1px solid #29AF63 !important;
}
ion-avatar .list-item-img{
  width: 100%;
  height: 100%;
}
.vote-btn{
  display: block;
  font-size: 12px;
  width: 90%;
}

ion-col ion-item{
  border:1px solid #29AF63;
}

button{
  color:#FFF !important;
}

.toolbar-title{
  text-align: center;
  color:#FFF;
}

.add-item-btn{
  display: block;
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.toast .toast-container{
  background-color: #d62d20;
  font-style: italic;
  text-align: center;
}

.success .toast-container{
  background-color: green;
  font-style: italic;
  text-align: center;
}

ion-menu button{
  color:#000 !important;
  text-align: right !important;
}

.segment-activated{
  background-color: #29AF63 !important;
  color: #FFF !important;
}

ion-toolbar .segment-activated{
  border-bottom-color: #FFF !important;
  font-weight: bolder;
}

ion-toolbar .segment{
  margin: auto !important;
  width: 80% !important;
}
ion-toolbar .segment-button{
  background-color: #29AF63 !important;
  color: #FFF !important;
  //border-bottom-color: #29AF63 !important;
}
// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
