<form [formGroup]="addPriceForm">
  <ion-grid>

    <ion-row>
      <ion-col>
          <ion-item>
            <ion-input type="text" [(ngModel)]="price.value" placeholder="السعر" formControlName="price"></ion-input>
          </ion-item>
      </ion-col>

    </ion-row>
    <ion-row padding-top>
      <ion-col col-6 offset-3 text-center>
            <!--<img  src="assets/images/location.png" alt="">-->
            <button full ion-button icon-only (click)="get_location(true,true)">
              <ion-icon name="locate"></ion-icon>
            </button>
      </ion-col>
    </ion-row>
    <!--

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" [(ngModel)]="item.price.location.name" placeholder="العنوان" formControlName="location"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>-->

    <ion-row>
      <ion-col style="height:300px;width:100%">
        <google-map></google-map>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col>
        <ion-item>
          <ion-input type="text" [(ngModel)]="date"  placeholder="التاريخ" readonly formControlName="datetime"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 offset-3 text-center>
            <button full ion-button icon-only (click)="get_datetime()">
              <ion-icon name="calendar"></ion-icon>
            </button>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col>
        <button ion-button full (click)="addItem()" [disabled]="!addPriceForm.valid">حفظ</button>
      </ion-col>
    </ion-row>



  </ion-grid>
</form>
