<form [formGroup]="addItemForm">
  <ion-grid>

    <ion-row padding-top>
      <ion-col col-6 offset-3 text-center>
            <!--<img src="assets/images/barcode.png" alt="" (click)="scan_barcode()">-->
            <button full ion-button icon-only (click)="scan_barcode()">
              <ion-icon name="barcode"></ion-icon>
            </button>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col>
        <ion-item>
          <ion-input type="text" placeholder="الباركود"  [(ngModel)]="item.barcode" formControlName="barcode"></ion-input>
        </ion-item>
     </ion-col>
    </ion-row>


    <ion-row padding-top>
      <ion-col>
        <ion-item>
          <ion-input type="text" formControlName="name" [(ngModel)]="item.name" placeholder="اسم المنتج"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col col-6 offset-3 text-center>
            <img [src]="domSanitizer.bypassSecurityTrustUrl(item.image)" alt="">
            <button full ion-button icon-only (click)="get_avatar()">
              <ion-icon name="camera"></ion-icon>
            </button>
      </ion-col>
    </ion-row>


  </ion-grid>
</form>
