page-search {

}
.card-image img{
  max-height:90px !important;
}

ion-card,ion-card-content{
  padding: 0 !important;
  margin: 0 !important;
}
ion-card{
  width: 100% !important;
}

ion-card ion-row ion-col button{
  margin: 0 !important;
  padding: 0 !important;
}

.spinner-row ion-spinner * {
  width: 150px !important;
  height: 150px !important;
}

.spinner-row{
  width: 40%;
  margin: auto;
  margin-top: 30%;
}
