<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only margin-left (click)="scan_barcode()">
        <ion-icon name="barcode"></ion-icon>
      </button>
      <button ion-button icon-only margin-left (click)="speech_recognition()">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      الرئيسية
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only margin-right menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="اسحب للتحديث"
      refreshingSpinner="circles"
      refreshingText="من فضلك انتظر">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab right bottom>
    <button ion-fab (click)="add_product()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-row>
    <ion-col no-padding no-margin>
      <ion-searchbar  (keyup)="do_search($event.target.value)" placeholder="أدخل كلمة البحث"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-row class="spinner-row" *ngIf="spinner_show">
    <ion-col no-padding no-margin>
      <ion-spinner name="ios"></ion-spinner>
    </ion-col>
  </ion-row>


  <ion-list padding-top>
    <ion-row *ngFor="let item of items;let number=index;let o=odd" [hidden]="o">
      <ion-col *ngFor="let plus of [0,1]" col-6>
        <ion-card *ngIf="items[number+plus]" (click)="item_details(items[number+plus].id['$oid'],items[number+plus].name,items[number+plus].images[0])">
          <ion-card-content>
            <div class="card-image">
              <img [src]="domSanitizer.bypassSecurityTrustUrl(items[number+plus].images[0])"/>
            </div>
            <h6 text-center text-nowrap>
              {{items[number+plus].name}}
            </h6>
            <h6 text-center text-nowrap>
              From 5 LE to 9 LE
            </h6>
            </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-list>
</ion-content>
