google-map {

}
#pac-input{
  direction: rtl;
  width: 100% !important;
  height: 35px !important;
  color:#29AF63;
  padding: 5px;
  border: 1px solid #29AF63 !important;
  font-weight: bolder;
  box-shadow: 2px 2px 2px #888888;
}
