<!--
  Generated template for the AddProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only margin-right>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>إضافه</ion-title>
    <ion-buttons right>
      <button ion-button icon-only margin-right menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content padding>
<div padding>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="price" [disabled]="!item_date_valid">
      السعر
    </ion-segment-button>
    <ion-segment-button value="product">
      المنتج
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="tab">
  <add-price [(item)]="item" *ngSwitchCase="'price'"></add-price>
  <add-product [(item)]="item" (itemChange)="item_change($event)" (change)="add_item_valid($event)" *ngSwitchCase="'product'"></add-product>
</div>

</ion-content>
