#add-product-grid ion-col[col-4]{
  padding-top: 14%;
}

#add-product-grid ion-col[col-4] button,#add-product-grid ion-col[col-5] button{
  color:#f1c40f !important;
  border: 2px solid #f1c40f !important;
  background-color: #FFF;
}

#add-product-grid button ,#add-product-grid ion-input{
  height: 50px;
}

#add-product-grid ion-col[col-5] .item-inner {
  border: none !important;
}

#add-product-grid ion-col[col-5] img{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
