<ion-header>
  <ion-navbar>
    <ion-title>نسيت كلمة المرور</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="forgetform">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input padding-left formControlName="email" type="email" placeholder="ادخل البريد الاليكتروني"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button margin-top full [disabled]="!forgetform.valid" (click)="login()" ion-button> استرجاع </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
